.alphabet-selector-container {
    background-color: #fff;
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    position: fixed;
    left: 50%;
    transition: top 0.3s ease; /* Smooth transition for hiding */
    z-index: 1; /* Ensure it hides behind the header */
}

.alphabet-selector {
    display: flex;
    justify-content: left;
    overflow-x: auto;
    max-width: calc(100% - 40px);
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    gap: 7px;
    scrollbar-width: none; /* Hide scrollbar on Firefox */
}

.alphabet-selector::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just to avoid the background to be transparent */
}

.alphabet-selector button {
    display: flex;
    justify-content: center;
    font-size: 12px;
    background-color: #94e8ff;
    border: none;
    width: 18px;
    aspect-ratio: 1;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.alphabet-selector button:hover {
    background-color: #21a1f1;
}

@media only screen and (max-width: 768px) {
    .alphabet-selector {
        top: 75px;
    }
}
