/* Header styles */
.App-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1001;
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    gap: 15px;
}

.App-header.open {
    box-shadow: none;
}

.logo {
    cursor: pointer;
    font-size: 24px;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.mid-header {
    flex: 1;
    margin-left: 2px;
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 500px;
}

.search-input {
    padding: 7px 12px 7px 32px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-button {
    position: absolute;
    left: 10px;
    color: #969696;
    z-index: 1;
}

.right-header {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.link-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.link {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    color: #000;
    background-color: #94e8ff;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.link:hover {
    background-color: #21a1f1;
}

.logout-link {
    background-color: transparent;
    color: #fff;
}

.logout-link:hover {
    background-color: transparent;
}

.link span {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.link-active {
    background-color: #21a1f1;
}

.link svg,
.link span svg {
    margin-right: 6px;
}

/* Dropdown styles */
.dropdown {
    display: flex;
    min-width: 100px;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1002;
    flex-direction: column;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(0);
    opacity: 1;
}

.dropdown-items {
    color: #333;
    text-decoration: none;
    display: block;
    font-size: 14px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.dropdown-items:hover {
    background-color: #f1f1f1;
    color: #007bff;
}

@media only screen and (max-width: 768px) {
    .App-header {
        height: 50px;
    }

    .right-header .nav-links {
        display: none;
    }

    .logo {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .App-header {
        gap: 5px;
        height: 45px;
    }

    .logo {
        font-size: 18px;
    }

    .links a {
        padding: 6px 9px;
    }
}

/* Mobile Nav */

.hamburger {
    display: none;
    width: 45px;
    height: 45px;
    overflow: hidden;
}

.hamburger-menu {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    z-index: 1000;
}

.hamburger-menu.open {
    max-height: 500px; /* A large enough value to fit all content */
}

.hamburger-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 0; /* Add padding for better spacing */
}

.hamburger-links a {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.hamburger-links span {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.hamburger-links a svg,
.hamburger-links span svg {
    margin-right: 8px;
}

.hamburger-link-active a {
    color: #21a1f1;
}

.hamburger-links a:hover {
    color: #21a1f1;
}

/* Submenu styles */
.submenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0 0 30px;
}

.submenu a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.submenu a:hover {
    color: #21a1f1;
}

/* Overlay to darken background when menu is open */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.overlay.open {
    display: block;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
        align-items: center;
    }
}
