/* App.css */

/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Container styles */
.App {
    text-align: center;
}

/* Header styles */
.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 10px 20px;
    color: white;
}

/* Logo styles */
.logo {
    cursor: pointer;
    font-size: 24px;
}

.logo a {
    color: white;
    text-decoration: none;
}

/* Alphabet navigation styles */
.search-bar {
    margin: 12px 0 6px;
}

.search-bar input {
    padding: 8px 12px;
    margin: 0;
    font-size: 16px;
    width: 100%;
    outline: none;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px;
}

.alphabet-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 5px;
    margin: 0 auto;
}

.alphabets {
    max-width: max(100%, 500px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.alphabet-nav button {
    margin: 5px;
    width: max(28px, calc(22px + 1vw));
    aspect-ratio: 1;
    font-size: 13px;
    background-color: #94e8ff;
    border: none;
    cursor: pointer;
}

.alphabet-nav button.selected {
    background-color: #21a1f1;
}

.alphabet-nav button:hover {
    background-color: #21a1f1;
}

/* Links styles */
.links {
    display: flex;
    gap: 10px;
}

.links button {
    margin: 5px;
    padding: 10px;
    background-color: #94e8ff;
    border: none;
    cursor: pointer;
}

.links button:hover {
    background-color: #21a1f1;
}

/* Main content styles */
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    margin: 20px 0;
    text-align: left;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    /* Adjust padding and font size for smaller screens */

    .logo {
        font-size: 20px;
    }

    .links button {
        padding: 8px 15px;
    }
}

@media only screen and (max-width: 480px) {
    /* Further adjustments for extra small screens */
    .logo {
        font-size: 18px;
    }

    .links button {
        padding: 6px 10px;
    }
}

/* MainScreen.css */
.MainScreen {
    margin: 0 auto;
}

.MainScreen-heading {
    font-size: 24px;
}

.MainScreen-list {
    margin-top: 20px;
    padding: 0;
}

.MainScreen-item {
    margin: 0 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 11px;
    background-color: #f9f9f9;
    letter-spacing: 0.3px;
}

.MainScreen-word {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.word-frame {
    margin-top: 18px;
}

.word-meaning {
}

.word-frame p {
    margin: 4px 0;
}

.word-frame strong {
    font-weight: bold;
}
