/* Global styles */
body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
}

/* Container styles */
.App {
    padding-top: 80px;
}

main {
    margin: 15px 25px 0;
    min-height: calc(100vh - 160px);
}

@media only screen and (max-width: 768px) {
    .App {
        padding-top: 65px;
    }
    main {
        min-height: calc(100vh - 145px);
    }
}

/* Search bar styles */

.main-container-top {
    margin: 0 auto;
    max-width: max(100%, 500px);
}

.main-container-sub-top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.main-container-add {
    display: flex;
}

.main-container-add button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media only screen and (max-width: 768px) {
    .main-container-add button {
        padding: 8px 15px;
    }
}

@media only screen and (max-width: 480px) {
    .main-container-add button {
        padding: 6px 10px;
    }
}

/* Search bar styles */
.search-bar {
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    position: relative; /* Position relative for the icon */
}

.search-bar input {
    padding: 8px 12px 8px 36px; /* Add left padding for the icon */
    margin: 0;
    font-size: 16px;
    outline: none;
    text-align: left;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px;
}

.search-icon {
    position: absolute;
    left: 10px;
    color: #969696;
    z-index: 1;
}

.main-container-add button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Alphabet navigation styles */

.alphabet-nav {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.alphabets {
    max-width: max(100%, 500px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.alphabet-nav button {
    display: inline-block;
    margin: 5px;
    width: max(28px, calc(22px + 1vw));
    aspect-ratio: 1;
    background-color: #94e8ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.alphabet-nav button.selected {
    background-color: #21a1f1;
}

.alphabet-nav button:hover {
    background-color: #21a1f1;
}

.type-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.type-nav button {
    margin: 5px;
    padding: 8px 15px;
    background-color: #94e8ff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.type-nav button.selected {
    background-color: #21a1f1;
}

.type-nav button:hover {
    background-color: #21a1f1;
}

/* Word container */
.main-container {
    margin: 20px auto;
}

.main-container-heading {
    font-size: 24px;
    text-align: center;
    margin: 35px 0 20px;
}

.main-container-list {
    padding: 0;
    text-align: left;
}

.word-container-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 11px;
    background-color: #f9f9f9;
    letter-spacing: 0.3px;
}

.word-container:nth-child(n + 2) {
    margin-top: 25px;
}

.word-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.word-container-top h3 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.word-container-top .update-icons {
    display: flex;
    gap: 15px;
}

.word-container-top button {
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
}

.word-container-top .star-icon {
    color: #dbb900;
    font-size: 20px;
    margin-right: 5px;
}

.word-container-bottom {
    margin-top: 20px;
    line-height: 20px;
}

.word-container-item .reduce-margin {
    margin-top: 15px;
}

.word-container-bottom p {
    color: #2f2f2f;
    margin: 5px 0;
}

.word-container-bottom strong {
    font-weight: bold;
}

.underlined {
    color: #c91f1f;
}
