/* Global styles */
body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
}

/* Container styles */
.App {
    padding-top: 80px;
}

/* Header styles */
.App-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure the header is above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    margin: 15px 20px 0;
    min-height: calc(100vh - 160px);
}

@media only screen and (max-width: 768px) {
    main {
        min-height: calc(100vh - 145px);
    }
}

.logo {
    cursor: pointer;
    font-size: 24px;
}

.logo a {
    color: white;
    text-decoration: none;
}

.right-header {
    display: flex;
}

/* Search bar styles */

.main-container-top {
    margin: 0 auto;
    max-width: max(100%, 500px);
}

.main-container-sub-top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.main-container-add {
    display: flex;
}

.main-container-add button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media only screen and (max-width: 768px) {
    .main-container-add button {
        padding: 8px 15px;
    }
}

@media only screen and (max-width: 480px) {
    .main-container-add button {
        padding: 6px 10px;
    }
}

/* Search bar styles */
.search-bar {
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    position: relative; /* Position relative for the icon */
}

.search-bar input {
    padding: 8px 12px 8px 36px; /* Add left padding for the icon */
    margin: 0;
    font-size: 16px;
    outline: none;
    text-align: left;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px;
}

.search-icon {
    position: absolute;
    left: 10px;
    color: #969696;
    z-index: 1;
}

.main-container-add button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Alphabet navigation styles */

.alphabet-nav {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.alphabets {
    max-width: max(100%, 500px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.alphabet-nav button {
    display: inline-block;
    margin: 5px;
    width: max(28px, calc(22px + 1vw));
    aspect-ratio: 1;
    background-color: #94e8ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.alphabet-nav button.selected {
    background-color: #21a1f1;
}

.alphabet-nav button:hover {
    background-color: #21a1f1;
}

.links a {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #000;
    background-color: #94e8ff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.links a:hover {
    background-color: #21a1f1;
}

.links-active a {
    background-color: #21a1f1;
}

.type-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.type-nav button {
    margin: 5px;
    padding: 8px 15px;
    background-color: #94e8ff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.type-nav button.selected {
    background-color: #21a1f1;
}

.type-nav button:hover {
    background-color: #21a1f1;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    /* Adjust padding and font size for smaller screens */
    .App {
        padding-top: 65px;
    }
    .logo {
        font-size: 20px;
    }

    .links a {
        padding: 8px 15px;
    }
}

@media only screen and (max-width: 480px) {
    /* Further adjustments for extra small screens */
    .logo {
        font-size: 18px;
    }

    .links a {
        padding: 6px 10px;
    }
}

/* Word container */
.main-container {
    margin: 20px auto;
}

.main-container-heading {
    font-size: 24px;
    text-align: center;
    margin: 35px 0 20px;
}

.main-container-list {
    padding: 0;
    text-align: left;
}

.word-container-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 11px;
    background-color: #f9f9f9;
    letter-spacing: 0.3px;
}

.word-container:nth-child(n + 2) {
    margin-top: 25px;
}

.word-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.word-container-top-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.word-container-top h3 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.word-container-top .update-icons {
    display: flex;
    gap: 8px;
}

.word-container-bottom {
    margin-top: 20px;
    line-height: 20px;
}

.word-container-item .reduce-margin {
    margin-top: 15px;
}

.word-container-bottom p {
    color: #2f2f2f;
    margin: 5px 0;
}

.word-container-bottom strong {
    font-weight: bold;
}

.underlined {
    color: #c91f1f;
}

/* Modal */
.modal-content {
    font-size: 15px;
    min-width: max(25vw, 280px);
}

.modal-content h3 {
    margin-top: 0;
    font-weight: normal;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.modal-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    margin-left: 10px;
}

.modal-actions button:hover {
    background-color: #0056b3;
}

.modal-actions button:first-child {
    background-color: #ccc;
    color: #333;
}

.modal-actions button:first-child:hover {
    background-color: #999;
}

.clickable-word {
    cursor: pointer;
    text-decoration: underline;
    color: #0056b3;
}

/* New-Edit form Styles */

.part-group {
    border: 1px solid #eee;
    padding: 15px 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #fafafa;
    position: relative;
}

.form-group {
    margin-bottom: 15px;
    min-width: 260px;
    font-size: 15px;
}

.form-sub-group {
    display: flex;
    gap: 2px;
    flex-direction: column;
    position: relative;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: inherit;
    color: #333;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.idiom-type-select {
    width: 100%;
    padding: 8px;
    padding-right: 30px; /* Adjust padding to accommodate the arrow */
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    appearance: none; /* Remove default arrow */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.idiom-type-select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.select-wrapper::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
    font-size: 12px; /* Adjust the size of the arrow if necessary */
}

.add-part {
    position: relative;
}

.add-part .error-message {
    position: absolute;
    color: red;
    font-size: 14px;
    top: -20px;
}

.add-part-button {
    display: inline-block;
    margin: 20px 0 15px;
    font-size: 14px;
    background-color: #94e8ff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.add-part-button:hover {
    background-color: #21a1f1;
}

.delete-part-button {
    display: inline-block;
    margin: 6px 0;
    font-size: 10px;
    letter-spacing: 1px;
    background-color: #ff6961;
    border: none;
    cursor: pointer;
    padding: 6px 11px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 0;
    right: 10px;
}

.delete-part-button:hover {
    background-color: #e63946;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

/* Word Review styles */
.word-review-button {
    margin-top: 10px;
}

/* Footer styles */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.visit-count,
.creator-info {
    font-size: 14px;
}
